body{
    background-color: white;
  }
  
  .all {
    height: 100%;
    width:  100%;
    padding: 0%;
   
  }
  
  .row{
   height: 100%;
  }
  .alll {
    height: 36em;
    width: 79em;
  }
  .presentation {
    background-color: #3f3d3d;
    height: 200%;
  }
  
  .conteudo1 {
    width: 100%;
    margin: 20% auto;
    text-align: center;
  }
  
  .conteudo2 {
    width: 80%;
    margin: 10% auto;
    text-align: center;
  }
  
  #titulo1 {
    margin: 5% auto;
    color: white;
    font-size: 30pt;
  }
  
  #titulo2 {
    color: #000000;
    font-size: 30pt;
    margin: 10% auto;
  }

  
  .btn01 {
    color: white;
    background-color: #4f5251;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    font-size: 20px;
    width: 30%;
    height: 45px;
    transition: all 0.5s;
  }
  
  .btn01:hover {
    color: white;
    background-color: #898b8b;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    font-size: 22px;
    width: 30%;
    height: 45px;
  }
  
  .btn02 {
    background-color: #b5b8b7;
    border-color: white;
    border-radius: 15px;
    border-style: solid;
    font-size: 20px;
    width: 50%;
    height: 45px;
    margin-top: 5px;
    transition: all 0.5s;
  }
  
  .btn02:hover {
    background-color: #189e80;
    border-color: white;
    border-radius: 45px;
    border-style: groove;
    font-size: 20px;
    width: 50%;
    height: 45px;
    margin-top: 5px;
  }
  
  .a_btn02{
    color:  white;
    font-weight: 650;
    text-decoration: none;
  }

  a{
    color: white;;
  }
  
  a:hover{
    color: white;
    text-decoration: none;
  }
  hr {
    margin: 5% auto;
  }
  
  .alert_custom{
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
  }
  
  .title_custom{
    color: white;
    font-size: 12pt;
    opacity : 0.5;
  }
  
  .selected{
    background-color: black;
  }

  .col-7{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

.login{
    display: center;
    justify-content: center;
    align-items: flex;
    margin-left: 27%;
    margin-top: 18%;
    min-width: none;
}

.login__container{
    min-width: 400px;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title{
  margin-bottom: 32px;
  color: #000000;
}

.login__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__input{
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  border: unset;
  outline: none;
}

.login__input-border{
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #cfcfcf;
  transition: .3s ease-in-out;
}

.login__input-border::after{
  content: '';
  display: block;
  height: 1px;
  width: 0;
  margin-bottom: 0;
  background: linear-gradient(120deg, #e75590, #00C2CB);
  transition: .3s ease-in-out;
}

.login__input:focus + .login__input-border::after{
  width: 100%;
}

.login__submit{
height: 80px;
width: 100%;
outline: none;
background: linear-gradient(120deg, #e75590, #00C2CB, #e75590);
background-size: 200%;
margin-bottom: 32px;
color: #fff;
font-size: 16px;
font-weight: bold;
border: unset;
border-radius: 20px;
cursor: pointer;
transition: .5s ease-in-out;
}

.login__submit:hover{
  background-position: right;
}

