<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Voltar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container" style="padding-top: 20px;">
  <div class="card">
    <h1 class="card-body display-6 linksTreina">
      LINKS DE TREINAMENTOS GRATUITOS E QUALIFICAÇÃO
    </h1>
  </div>
  <div class="list-group">
    <a
      href="https://ead.senar.org.br/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | SENAR</h5>
      </div>
      <p class="mb-1">
        O SENAR EAD oferece mais de 50 cursos gratuitos em sua plataforma de
        ensino, todos ligados de alguma forma à Administração Rural.
      </p></a
    >

    <a
      href="https://www.sebrae.com.br/sites/PortalSebrae/cursosonline"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | SEBRAE</h5>
      </div>
      <p class="mb-1">
        Os cursos gratuitos do Sebrae são disponibilizados no Portal Sebrae EaD,
        e podem ser acessados por pessoas de diferentes níveis de ensino, que
        desejam abrir um negócio ou que já possuem empresas e querem aprender
        mais sobre a sua gestão e organização.
      </p>
    </a>
    <a
      href="https://www.hashtagtreinamentos.com/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Hashtag Treinamentos</h5>
      </div>
      <p class="mb-1">
        Aperfeiçoamento de ferramentas como Excel, programação VBA, Python,
        Power BI.
      </p>
    </a>
    <a
      href="https://www.tecpop.mg.gov.br"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | TECPOP</h5>
      </div>
      <p class="mb-1">
        O Tecpop Minas tem como objetivo garantir a inclusão digital e a
        capacitação profissional dos cidadãos do Estado de Minas Gerais,
        democratizando a tecnologia, o empreendedorismo e o conhecimento para a
        população, oferecendo cursos e conteúdos tecnológicos para capacitação
        profissional gratuitos na modalidade on-line.
      </p>
    </a>
    <a
      href="https://www.unovacursos.com.br/?gclid=CjwKCAjws--ZBhAXEiwAv-RNL4Z_PWkPt-StcgICyTSyXh80R2_hPIyeWUodvEtvmboHQNgpQQW3LBoCwJcQAvD_BwE"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | UNOVA</h5>
      </div>
      <p class="mb-1">
        Todos os cursos da plataforma são totalmente gratuitos. No entanto, a
        emissão do certificado é opcional e custa R$ 29,90.
      </p>
    </a>
    <a
      href="https://www.ginead.com.br/cursos/de/profissoes"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | GINEAD</h5>
      </div>
      <p class="mb-1">
        Os cursos mais populares do GINEAD são o curso de Auxiliar
        Administrativo, Eletricista Residencial, Fotografia Digital e
        Confeiteiro. No entanto, você também encontra outras opções, como o
        curso de Cabeleireiro Básico, Cuidador de Idosos e mais 20 cursos
        gratuitos online com certificado pago.
      </p>
    </a>
    <a
      href="https://www.pensarcursos.com.br/cursos"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Pensar Cursos</h5>
      </div>
      <p class="mb-1">A emissão do certificado é paga.</p>
    </a>
    <a
      href="https://www.codecademy.com/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Codecademy</h5>
      </div>
      <p class="mb-1">
        Cursos voltados somente à programação em diferentes linguagens com
        emissão de certificado pago.
      </p>
    </a>
    <a
      href="https://www.coursera.org/?irclickid=3xkRRc3EtzklT%3AHyTk0CnzuOUkD3CUWqRwn-S
      Y0&irgwc=1&utm_medium=partners&utm_source=impact&utm_campaign=1310690&utm_
      content=b2c"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Coursera</h5>
      </div>
      <p class="mb-1">
        Cursos desde programação à Ux design gratuitos, porém a emissão do
        certificado é paga.
      </p>
    </a>
    <a
      href="https://pll.harvard.edu/catalog/free?page=2"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Harvard</h5>
      </div>
      <p class="mb-1">
        Diversos cursos da universidade de Harvard, porém são todos em inglês.
      </p>
    </a>
    <a
      href="https://www.eucapacito.com.br/curso-ec/python/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Eu Capacito</h5>
      </div>
      <p class="mb-1">
        O Eu Capacito é uma plataforma que tem como objetivo formar uma legião
        de profissionais para a economia digital. Desenvolvimento de vida
        profissional, focado em habilidade de desenvolvimento de negócios, ou de
        tecnologia de negócios, conhecimento em outras áreas de desenvolvimento
        de negócios importantes ou corporativos.
      </p>
    </a>
    <a
      href="https://www.cursou.com.br/informatica/programacao/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Cursou</h5>
      </div>
      <p class="mb-1">
        Acesse os melhores cursos de programação online grátis disponíveis pela
        Cursou. Você pode adquirir o conhecimento necessário para desenvolver
        programas, jogos, aplicativos e websites de qualidade com os melhores
        cursos grátis.
      </p>
    </a>
    <a
      href="https://www.primecursos.com.br/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Prime Cursos</h5>
      </div>
      <p class="mb-1">Todos os cursos oferecidos são gratuitos.</p>
    </a>
    <a
      href="https://www.grancursosonline.com.br/curso-online-gratuito-concursos-2022/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Gran Cursos Online</h5>
      </div>
      <p class="mb-1">
        Curso Gratuito para Concurso Público 2022, acesso grátis durante 100
        dias.
      </p>
    </a>
    <a
      href="https://www.sp.senai.br/cursos/cursos-livres/tecnologia-da-informacao-e-informatica"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | SENAI</h5>
      </div>
      <p class="mb-1">
        Quem busca melhor qualificação merece cursos de qualidade. Por isso, o
        SENAI-SP oferece várias opções de cursos, ágeis e de curta duração, a
        profissionais já atuantes ou que buscam uma nova oportunidade no mercado
        de trabalho. As aulas acontecem no próprio SENAI-SP, mas também existem
        opções na modalidade de ensino a distância (EAD).
      </p>
    </a>
    <a
      href="https://www.ev.org.br/cursos#courses-list"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Bradesco</h5>
      </div>
      <p class="mb-1">
        A Fundação Bradesco oferece mais de 70 cursos gratuitos e totalmente
        online em diversas áreas. Os cursos estão disponíveis através da Escola
        Virtual com variações do conteúdo programático e nível – iniciante,
        intermediário e avançado. Os cursos gratuitos oferecidos pela Fundação
        Bradesco são nas áreas de Desenvolvimento Pessoal e Profissional, Enem e
        Vestibulares, Metodologias de aprendizagem, Negócios e inovação,
        Produtividade, Programação e Tecnologia da Informação.
      </p>
    </a>
    <a
      href="https://grasshopper.app/pt_br/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Grasshopper</h5>
      </div>
      <p class="mb-1">
        O Grasshopper é um aplicativo gratuito que foi desenvolvido pela Google,
        a sua finalidade é o ensino de programação para iniciantes. O aplicativo
        tem o objetivo de ensinar a linguagem Javascript que é usada por mais de
        70% dos programadores.
      </p>
    </a>
    <a
      href="https://www.cursoemvideo.com/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Curso em Vídeo</h5>
      </div>
      <p class="mb-1">
        Centenas de cursos de tecnologia, cursos de programação, cursos de
        marketing digital, aprenda com os melhores cursos de programação e
        desenvolvimento, aprenda com o professor Gustavo Guanabara.
      </p>
    </a>
  </div>
</div>

<div class="container" style="padding-top: 20px;">
  <div class="card">
    <h1 class="card-body display-6 linksTreina">
      LINKS DE CURSOS DE IDIOMAS GRATUITOS
    </h1>
  </div>

  <div class="list-group">
    <a href="https://www.primecursos.com.br/idiomas/amp/"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de idiomas | Prime Cursos</h5>
      </div>
      <p class="mb-1">Esta plataforma é voltada para estudos gramaticais e de fala, dos mais diversos
        idiomas. Com material introdutório de nível básico, que visa a compreensão e articulação de
        diálogos em situações cotidianas e a leitura e escrita de textos básicos.</p>
    </a>
    <a href="https://www.memrise.com/"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de idiomas | MEMRISE</h5>
      </div>
      <p class="mb-1">A plataforma é voltada a pessoas que já têm algum conhecimento em um determinado
        idioma e querem ampliar o vocabulário. São 220 línguas disponíveis. É também considerada
        ideal para os professores que querem desenvolver, a longo prazo, a aprendizagem de seus
        alunos, pois o site oferece recursos em que os alunos podem aprender o idioma, por exemplo,
        a partir da cultura geral com imagens ou músicas de um país específico.</p>
    </a>
    <a href="https://www.ginead.com.br/cursos/de/idiomas#"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de idiomas | GINEAD</h5>
      </div>
      <p class="mb-1">No GINEAD você tem a oportunidade de aprender inúmeros idiomas. Do curso de
        inglês básico até o de francês intermediário, há muitas opções para você abrir a mente para
        novos conhecimentos.</p>
    </a>
    <a href="https://www.busuu.com/pt"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | BUSUU</h5>
      </div>
      <p class="mb-1">É uma plataforma para aprender idiomas, em que o aprendizado é estimulado através
        do contato com nativos.</p>
    </a>
    <a href="https://kultivi.com/cursos/idiomas/ingles"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | KULTIVI</h5>
      </div>
      <p class="mb-1">O curso de Inglês Online da Kultivi possui 225 aulas, que vão desde o básico para
        comunicação, adjetivos, pronomes, verbos, diálogos, gramática e até conversação, com
        metodologia diferenciada.</p>
    </a>
    <a href="https://uspdigital.usp.br/apolo/apoObterCurso?cod_curso=80401885&cod_edicao=22002&numseqofeedi=1"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | USP</h5>
      </div>
      <p class="mb-1">Desenvolver estruturas básicas da língua tcheca, introduzir o estudo da sua gramática
        e praticar conversação.</p>
    </a>
    <a href="https://app.becas-santander.com/pt/program/santander-scholarships-language-english-to-boost-your-career?utm_source=Email_other&utm_medium=Email&utm_campaign=Upenn22_Corporativo_Santander_Universidades_BB.DD_CTA_bt&utm_content=NoFoot" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Santander</h5>
      </div>
      <p class="mb-1">O Banco Santander e a Universidade da Pensilvânia oferecem 1.000 bolsas de estudo
        por meio de um programa online de proficiência em inglês para aqueles interessados em
        avançar em suas carreiras profissionais em um mercado de trabalho global.</p>
    </a>
    <a href="https://pt.duolingo.com/"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Duolingo</h5>
      </div>
      <p class="mb-1">Duolingo é uma plataforma online gratuita para aprender outros idiomas. Oferecendo
        aulas de inglês, espanhol, francês, alemão, italiano e outras línguas estrangeiras, o serviço
        conta com versões para computador, celulares Android e iPhone (iOS).</p>
    </a>
    <a href="https://www.learn-english-online.org/"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Learn English Online</h5>
      </div>
      <p class="mb-1">Essa plataforma dispõe de diversas lições e dicas para aprender inglês, além disso,
        também, possui um fórum com outros usuários.</p>
    </a>
    <a href="https://www.livemochas.com/pt"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Livemocha</h5>
      </div>
      <p class="mb-1">Curso de espanhol gratuito com diversos conteúdos.</p>
    </a>
    <a href="https://cursosextensao.usp.br/course/view.php?id=131&section=0"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Dire, Fare, Partire!</h5>
      </div>
      <p class="mb-1">Curso de italiano gratuito disponibilizado pela Universidade de São Paulo</p>
    </a>
    <a href="https://www.bbc.co.uk/languages/index.shtml"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | BBC Languages</h5>
      </div>
      <p class="mb-1">Com diversas opções de idiomas , o BBC Languages é uma ótima opção para quem
        está disposto a aprender. Com uma grande praticidade, diversos conteúdos, de diferentes
        línguas estão disponíveis.</p>
    </a>
   
  </div>
</div>
