<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Voltar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container" style="padding-top: 20px;">
  <div class="card">
    <h1 class="card-body display-6 linksTreina">
      LINKS DE TREINAMENTOS GRATUITOS E QUALIFICAÇÃO
    </h1>
</div>
  <div class="list-group">
    <a
      href="https://ead.senar.org.br/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | SENAR</h5>
      </div>
      <p class="mb-1">
        O SENAR EAD oferece mais de 50 cursos gratuitos em sua plataforma de
        ensino, todos ligados de alguma forma à Administração Rural.
      </p></a
    >

    <a
      href="https://www.sebrae.com.br/sites/PortalSebrae/cursosonline"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | SEBRAE</h5>
      </div>
      <p class="mb-1">
        Os cursos gratuitos do Sebrae são disponibilizados no Portal Sebrae EaD,
        e podem ser acessados por pessoas de diferentes níveis de ensino, que
        desejam abrir um negócio ou que já possuem empresas e querem aprender
        mais sobre a sua gestão e organização.
      </p>
    </a>
    <a
      href="https://www.hashtagtreinamentos.com/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Hashtag Treinamentos</h5>
      </div>
      <p class="mb-1">
        Aperfeiçoamento de ferramentas como Excel, programação VBA, Python,
        Power BI.
      </p>
    </a>
    <a
      href="https://www.tecpop.mg.gov.br"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | TECPOP</h5>
      </div>
      <p class="mb-1">
        O Tecpop Minas tem como objetivo garantir a inclusão digital e a
        capacitação profissional dos cidadãos do Estado de Minas Gerais,
        democratizando a tecnologia, o empreendedorismo e o conhecimento para a
        população, oferecendo cursos e conteúdos tecnológicos para capacitação
        profissional gratuitos na modalidade on-line.
      </p>
    </a>
    <a
      href="https://www.unovacursos.com.br/?gclid=CjwKCAjws--ZBhAXEiwAv-RNL4Z_PWkPt-StcgICyTSyXh80R2_hPIyeWUodvEtvmboHQNgpQQW3LBoCwJcQAvD_BwE"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | UNOVA</h5>
      </div>
      <p class="mb-1">
        Todos os cursos da plataforma são totalmente gratuitos. No entanto, a
        emissão do certificado é opcional e custa R$ 29,90.
      </p>
    </a>
    <a
      href="https://www.ginead.com.br/cursos/de/profissoes"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | GINEAD</h5>
      </div>
      <p class="mb-1">
        Os cursos mais populares do GINEAD são o curso de Auxiliar
        Administrativo, Eletricista Residencial, Fotografia Digital e
        Confeiteiro. No entanto, você também encontra outras opções, como o
        curso de Cabeleireiro Básico, Cuidador de Idosos e mais 20 cursos
        gratuitos online com certificado pago.
      </p>
    </a>
    <a
      href="https://www.pensarcursos.com.br/cursos"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Pensar Cursos</h5>
      </div>
      <p class="mb-1">A emissão do certificado é paga.</p>
    </a>
    <a
      href="https://www.codecademy.com/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Codecademy</h5>
      </div>
      <p class="mb-1">
        Cursos voltados somente à programação em diferentes linguagens com
        emissão de certificado pago.
      </p>
    </a>
    <a
      href="https://www.coursera.org/?irclickid=3xkRRc3EtzklT%3AHyTk0CnzuOUkD3CUWqRwn-S
      Y0&irgwc=1&utm_medium=partners&utm_source=impact&utm_campaign=1310690&utm_
      content=b2c"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Coursera</h5>
      </div>
      <p class="mb-1">
        Cursos desde programação à Ux design gratuitos, porém a emissão do
        certificado é paga.
      </p>
    </a>
    <a
      href="https://pll.harvard.edu/catalog/free?page=2"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Harvard</h5>
      </div>
      <p class="mb-1">
        Diversos cursos da universidade de Harvard, porém são todos em inglês.
      </p>
    </a>
    <a
      href="https://www.eucapacito.com.br/curso-ec/python/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Eu Capacito</h5>
      </div>
      <p class="mb-1">
        O Eu Capacito é uma plataforma que tem como objetivo formar uma legião
        de profissionais para a economia digital. Desenvolvimento de vida
        profissional, focado em habilidade de desenvolvimento de negócios, ou de
        tecnologia de negócios, conhecimento em outras áreas de desenvolvimento
        de negócios importantes ou corporativos.
      </p>
    </a>
    <a
      href="https://www.cursou.com.br/informatica/programacao/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Cursou</h5>
      </div>
      <p class="mb-1">
        Acesse os melhores cursos de programação online grátis disponíveis pela
        Cursou. Você pode adquirir o conhecimento necessário para desenvolver
        programas, jogos, aplicativos e websites de qualidade com os melhores
        cursos grátis.
      </p>
    </a>
    <a
      href="https://www.primecursos.com.br/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Prime Cursos</h5>
      </div>
      <p class="mb-1">Todos os cursos oferecidos são gratuitos.</p>
    </a>
    <a
      href="https://www.grancursosonline.com.br/curso-online-gratuito-concursos-2022/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Gran Cursos Online</h5>
      </div>
      <p class="mb-1">
        Curso Gratuito para Concurso Público 2022, acesso grátis durante 100
        dias.
      </p>
    </a>
    <a
      href="https://www.sp.senai.br/cursos/cursos-livres/tecnologia-da-informacao-e-informatica"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | SENAI</h5>
      </div>
      <p class="mb-1">
        Quem busca melhor qualificação merece cursos de qualidade. Por isso, o
        SENAI-SP oferece várias opções de cursos, ágeis e de curta duração, a
        profissionais já atuantes ou que buscam uma nova oportunidade no mercado
        de trabalho. As aulas acontecem no próprio SENAI-SP, mas também existem
        opções na modalidade de ensino a distância (EAD).
      </p>
    </a>
    <a
      href="https://www.ev.org.br/cursos#courses-list"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Bradesco</h5>
      </div>
      <p class="mb-1">
        A Fundação Bradesco oferece mais de 70 cursos gratuitos e totalmente
        online em diversas áreas. Os cursos estão disponíveis através da Escola
        Virtual com variações do conteúdo programático e nível – iniciante,
        intermediário e avançado. Os cursos gratuitos oferecidos pela Fundação
        Bradesco são nas áreas de Desenvolvimento Pessoal e Profissional, Enem e
        Vestibulares, Metodologias de aprendizagem, Negócios e inovação,
        Produtividade, Programação e Tecnologia da Informação.
      </p>
    </a>
    <a
      href="https://grasshopper.app/pt_br/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Grasshopper</h5>
      </div>
      <p class="mb-1">
        O Grasshopper é um aplicativo gratuito que foi desenvolvido pela Google,
        a sua finalidade é o ensino de programação para iniciantes. O aplicativo
        tem o objetivo de ensinar a linguagem Javascript que é usada por mais de
        70% dos programadores.
      </p>
    </a>
    <a
      href="https://www.cursoemvideo.com/"
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos Gratuitos | Curso em Vídeo</h5>
      </div>
      <p class="mb-1">
        Centenas de cursos de tecnologia, cursos de programação, cursos de
        marketing digital, aprenda com os melhores cursos de programação e
        desenvolvimento, aprenda com o professor Gustavo Guanabara.
      </p>
    </a>
  </div>
</div>

<div class="container" style="padding-top: 20px;">
  <div class="card">
    <h1 class="card-body display-6 linksTreina">
      LINKS DE CURSOS DE IDIOMAS GRATUITOS
    </h1>
  </div>

  <div class="list-group">
    <a href="https://www.primecursos.com.br/idiomas/amp/"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de idiomas | Prime Cursos</h5>
      </div>
      <p class="mb-1">Esta plataforma é voltada para estudos gramaticais e de fala, dos mais diversos
        idiomas. Com material introdutório de nível básico, que visa a compreensão e articulação de
        diálogos em situações cotidianas e a leitura e escrita de textos básicos.</p>
    </a>
    <a href="https://www.memrise.com/"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de idiomas | MEMRISE</h5>
      </div>
      <p class="mb-1">A plataforma é voltada a pessoas que já têm algum conhecimento em um determinado
        idioma e querem ampliar o vocabulário. São 220 línguas disponíveis. É também considerada
        ideal para os professores que querem desenvolver, a longo prazo, a aprendizagem de seus
        alunos, pois o site oferece recursos em que os alunos podem aprender o idioma, por exemplo,
        a partir da cultura geral com imagens ou músicas de um país específico.</p>
    </a>
    <a href="https://www.ginead.com.br/cursos/de/idiomas#"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de idiomas | GINEAD</h5>
      </div>
      <p class="mb-1">No GINEAD você tem a oportunidade de aprender inúmeros idiomas. Do curso de
        inglês básico até o de francês intermediário, há muitas opções para você abrir a mente para
        novos conhecimentos.</p>
    </a>
    <a href="https://www.busuu.com/pt"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | BUSUU</h5>
      </div>
      <p class="mb-1">É uma plataforma para aprender idiomas, em que o aprendizado é estimulado através
        do contato com nativos.</p>
    </a>
    <a href="https://kultivi.com/cursos/idiomas/ingles"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | KULTIVI</h5>
      </div>
      <p class="mb-1">O curso de Inglês Online da Kultivi possui 225 aulas, que vão desde o básico para
        comunicação, adjetivos, pronomes, verbos, diálogos, gramática e até conversação, com
        metodologia diferenciada.</p>
    </a>
    <a href="https://uspdigital.usp.br/apolo/apoObterCurso?cod_curso=80401885&cod_edicao=22002&numseqofeedi=1"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | USP</h5>
      </div>
      <p class="mb-1">Desenvolver estruturas básicas da língua tcheca, introduzir o estudo da sua gramática
        e praticar conversação.</p>
    </a>
    <a href="https://app.becas-santander.com/pt/program/santander-scholarships-language-english-to-boost-your-career?utm_source=Email_other&utm_medium=Email&utm_campaign=Upenn22_Corporativo_Santander_Universidades_BB.DD_CTA_bt&utm_content=NoFoot" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Santander</h5>
      </div>
      <p class="mb-1">O Banco Santander e a Universidade da Pensilvânia oferecem 1.000 bolsas de estudo
        por meio de um programa online de proficiência em inglês para aqueles interessados em
        avançar em suas carreiras profissionais em um mercado de trabalho global.</p>
    </a>
    <a href="https://pt.duolingo.com/"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Duolingo</h5>
      </div>
      <p class="mb-1">Duolingo é uma plataforma online gratuita para aprender outros idiomas. Oferecendo
        aulas de inglês, espanhol, francês, alemão, italiano e outras línguas estrangeiras, o serviço
        conta com versões para computador, celulares Android e iPhone (iOS).</p>
    </a>
    <a href="https://www.learn-english-online.org/"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Learn English Online</h5>
      </div>
      <p class="mb-1">Essa plataforma dispõe de diversas lições e dicas para aprender inglês, além disso,
        também, possui um fórum com outros usuários.</p>
    </a>
    <a href="https://www.livemochas.com/pt"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Livemocha</h5>
      </div>
      <p class="mb-1">Curso de espanhol gratuito com diversos conteúdos.</p>
    </a>
    <a href="https://cursosextensao.usp.br/course/view.php?id=131&section=0"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | Dire, Fare, Partire!</h5>
      </div>
      <p class="mb-1">Curso de italiano gratuito disponibilizado pela Universidade de São Paulo</p>
    </a>
    <a href="https://www.bbc.co.uk/languages/index.shtml"class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Cursos de Idiomas | BBC Languages</h5>
      </div>
      <p class="mb-1">Com diversas opções de idiomas , o BBC Languages é uma ótima opção para quem
        está disposto a aprender. Com uma grande praticidade, diversos conteúdos, de diferentes
        línguas estão disponíveis.</p>
    </a>
   
  </div>
</div>

<div class="container" style="padding-top: 20px;">
  <div class="card">
    <h1 class="card-body display-6 linksTreina">
      Material de Soft Skills
    </h1>
    <div class="jumbotron">
      <h1>O que são soft skills?</h1>
      <p class="lead">O ambiente corporativo evolui a cada instante, nesse sentido, habilidades técnicas e específicas não são os únicos elementos necessários para crescer e se manter nele. As soft skills ganham importância no tocante que a comunicação pessoal e interpessoal ganha destaque. Sendo assim, saber trabalhar com outras pessoas, perceber os seus pontos fortes e trazer soluções criativas vão garantir um espaço no trabalho.

        Elas também são habilidades transferíveis. Sendo assim, elas estão em constante evolução e são usadas independentemente do cargo em que a pessoa está trabalhando. Isso torna as pessoas mais suscetíveis a novos ambientes e capazes de se adaptar com mais facilidade.
        
        Além disso, são habilidades adquiridas ao longo do tempo. Ou seja, elas representam as experiências das pessoas. Empresas com pessoas com essas habilidades são mais diversificadas, pois os indivíduos possuem origens e pontos de vistas diferentes. Dessa forma, é possível que as tarefas sejam executadas de forma mais eficiente, já que as soluções serão mais criativas e competentes.
        
        Por isso, não é possível delimitar quais são as principais soft skills, pois todas elas compõem uma esfera importante para o desenvolvimento da pessoa. Cada uma será relevante de acordo com o trabalho proposto.
        </p>
    </div>

    <div class="jumbotron">
      <h1>Como desenvolvê- las?</h1>
      <h3 style="font-size:22px; padding-top: 10px;">Para conseguir desenvolver um trabalho competente é necessário aplicar todas as Soft skills como por exemplo:</h3>
      <p class="lead"><b>Resiliência:</b> Ele se refere à aptidão de se adaptar às mudanças, superar problemas e se recuperar facilmente de adversidades, é essencial para conseguir aprender com os erros, compreendendo as falhas, suas causas e como melhorar.</p>
      <p class="lead"><b>Colaboração:</b> É a habilidade de trabalhar em equipe. Isso porque é comum que as atividades sejam desenvolvidas em conjunto</p>
      <p class="lead"><b>Gentileza:</b> A empatia para tentar entender as dores, dificuldades e necessidades do próximo para tentar auxiliar.</p>
      <p class="lead"><b>Flexibilidade:</b>Ter a capacidade do profissional e se adaptar às demandas que surgem ainda que não seja uma necessidade.</p>
      <p class="lead"><b>Comunicação:</b> É fundamental para conversas entre líderes e equipe, colegas de trabalho, clientes, entre outros.</p>
      <p class="lead"><b>Liderança:</b> Essa capacidade tem relação com conseguir despertar a motivação, auxiliar no desenvolvimento das equipes e dar exemplos positivos.</p>
      <p class="lead"><b>Criatividade:</b> A criatividade consiste em pensar fora da caixa, fugindo das alternativas mais comuns para tentar encontrar possibilidades que otimizem os processos. </p>  
      <p class="lead"><b>Orientação para resultados:</b> Atuar com foco em alcançar os objetivos desejados.</p>
    </div>

    <div class="jumbotron">
      <h1>Exemplos</h1>
      
      <p class="lead"><b>Comunicação:</b> Parece óbvio, mas mesmo as grandes empresas de comunicação têm dificuldades de manter bons diálogos internos e externos. E, se toda empresa é feita de pessoas, profissionais que saibam se comunicar com clareza e, especialmente, honestidade saem na frente.</p>
      <p class="lead"><b>Gestão do tempo:</b> Saber administrar seu tempo é uma das soft skills que mais chamam a atenção das empresas. Essa característica é associada a profissionais comprometidos e reflete organização e respeito com o trabalho dos outros colegas e com os consumidores.</p>
      <p class="lead"><b>Solução de problemas:</b> Quem tem a habilidade de se apropriar das adversidades e resolvê-las com objetividade faz a diferença na equipe. Isso tem a ver com dominar, tecnicamente, seu ramo de atuação, e também com proatividade. Essa característica motiva os colegas e satisfaz os clientes.</p>
      <p class="lead"><b>Flexibilidade e adaptabilidade:</b> Ser humano é ser adaptável. Mas surgiram profissionais no mercado de trabalho cada vez menos flexíveis nas últimas décadas. O motivo disso pode ser o crescimento da capacitação e, consequentemente, o aumento do nível técnico dos funcionários. Por isso, ser tolerante e compreensivo cria um ambiente agradável e acolhedor.</p>
      <p class="lead"><b>Lidar com pressão:</b> Por mais leve que a rotina possa ser, imprevistos e solicitações de última hora sempre chegam para as equipes. Assim, conseguir manter o ritmo de trabalho mesmo que haja certa pressão é visto com bons olhos pelas empresas, pois demonstra foco e determinação.</p>
      <p class="lead"><b>Trabalho em equipe:</b> Cada dia mais as empresas valorizam as equipes e seus feitos em conjunto. Em função disso, funcionários com soft skills de colaboração e solidariedade se destacam mais, seja atuando em reuniões de departamentos ou participando de projetos colaborativos.</p>
      <p class="lead"><b>Autoconfiança:</b> Mesmo com o trabalho em equipe sendo valorizado, é importante que você tenha confiança no que faz. Só assim você pode contribuir com os planejamentos e estratégias de crescimento da corporação.</p>  
      <p class="lead"><b>Suportar críticas:</b> É impossível agradar ou concordar com todo mundo. Estamos sempre sujeitos a críticas, tanto para fazê-las quanto para recebê-las. Assim, quem leva esses momentos mais “na esportiva”, de forma leve e como aprendizado para crescer se desenvolver, se sobressai entre os demais.</p>
      <p class="lead"><b>Atitude positiva:</b> Pensar positivamente é o primeiro passo para dar tudo certo. Mas não é o suficiente. O complemento disso é ter atitudes realmente positivas, que deixem o ambiente de trabalho melhor e mais receptivo.</p>
    </div>

    <div class="jumbotron">
      <h1>Qual a importância dessas habilidades para entrevistas?</h1>
      <h3 style="font-size:22px; padding-top: 10px;">Elas influenciam a maneira como a pessoa lida com equipes, desafios e para conquistar
        uma vaga no mercado de trabalho.</h3>
    </div>

    <div class="jumbotron" >
      <h1>Quais são as soft skills mais valorizadas pelo mercado?</h1>
      <h3>E por quê?</h3>
      <ul style="padding-top: 20px;">
        <li style="font-size: 20px;"><b>Autoconhecimento</b></li>
        <li style="font-size: 20px;"><b>Valores e Cultura</b></li>
        <li style="font-size: 20px;"><b>Protagonismo e Resiliência</b></li>
        <li style="font-size: 20px;"><b>Mindset Ágil</b></li>
        <li style="font-size: 20px;"><b>LinkedIn e Networking</b></li>
        <li style="font-size: 20px;"><b>Protagonismo e Resiliência</b></li>
        <li style="font-size: 20px;"><b>Empatia</b></li>
        <li style="font-size: 20px;"><b>Criatividade e Inovação</b></li>
        <li style="font-size: 20px;"><b>Comunicação</b></li>
        <li style="font-size: 20px;"><b>Visão de Negócios</b></li>
      </ul>
      <div class="separator" style="padding-top: 20px;">
        <p class="lead"><b>Autoconhecimento:</b> todos nós temos nossos defeitos e qualidades, portanto não somos formados apenas por pontos fracos. Essa habilidade está muito relacionada com a capacidade de se vender durante uma entrevista. Em uma entrevista de emprego, não basta apenas enaltecer suas qualidades, mas também ter humildade de reconhecer suas fraquezas e, até mais importante quanto, saber lidar com elas. Essa é a grande questão: saber lidar com suas fraquezas.</p>
        <p class="lead"><b>Valores e cultura:</b> não adianta ser um profissional habilidoso se você não seguir preceitos éticos básicos. Empresas e profissionais podem se comprometer pela falta de ética. </p>
        <p class="lead"><b>Protagonismo e resiliência:</b>  O protagonismo, às vezes popularmente chamado de ‘senso de dono’, exigido de um candidato quer verificar se, quando estiver na empresa, o profissional sabe assumir compromissos ao invés de delegar a tarefa para outra pessoa, mesmo sendo responsabilidade dele ou não. 
          Se saber lidar com as fraquezas é importante, saber suportar situações difíceis ou se manter otimista quando tudo parecer piorar é tão fundamental quanto. É disso que se trata a resiliência. A resiliência é a capacidade de superar dificuldades, lidar com problemas e mudanças e se recuperar de crises e fracassos. 
          </p>
        <p class="lead"><b>Mindset Ágil:</b> ter um mindset ágil diz respeito à como modelamos a mentalidade da organização ou o contexto onde estamos. O mindset ágil adota uma postura de aprendizado constante com as metas e resultados. Falhas são encaradas como oportunidades de melhora. O mindset ágil traduz uma cultura de aprender com os erros e para tal ele lida com a prática de entregas de curto prazo, na qual os erros podem ser lidados de forma mais rápida. 
        </p>
        <p class="lead"><b>LinkedIn e Networking:</b> Já não é novidade que o LinkedIn se tornou a principal ferramenta de recrutadores e pessoas que procuram emprego, afinal, ele é uma rede social profissional. E por esse mesmo motivo é importante manter cuidados especiais em relação às outras redes sociais, porque a ideia é manter uma boa imagem profissional. Ter uma boa foto que transmita seriedade e profissionalismo é essencial, por isso é recomendável ter uma foto limpa e bem enquadrada, com roupa social de preferência. Deve-se evitar fotos de festas, com bebidas ou roupas muito descontraídas. E além das informações do currículo, o LinkedIn permite destacar trabalhos importantes que você realizou, cursos complementares e também depoimentos e recomendações de colegas.
          Este último item destaca a importância do networking, a sua rede de contatos profissionais que ajudam a alavancar a sua carreira. 
          </p>
        <p class="lead"><b>Empatia:</b> A empatia é a capacidade de se colocar no lugar do outro, de compreender seus sentimentos e suas necessidades e, então, compreendê-los em sua totalidade. Portanto, a empatia é uma habilidade de comunicação extremamente eficiente. Ela está muito relacionada a cargos de liderança, pois compreender as necessidades dos seus colaboradores garante um ambiente de trabalho mais humanizado e agradável. Além disso, compreender as necessidade dos clientes também é importante.
        </p>
        <p class="lead"><b>Criatividade e Inovação:</b> Nenhuma metodologia é eficaz em todo e qualquer contexto. A realidade é um contexto multifacetado em que vivemos em que alguns paradigmas podem mudar rapidamente, outros mais lentamente. Compreender esses contextos e saber propor soluções adequadas para cada situação é essencial para o funcionamento da empresa. Ser criativo significa propor metodologias diferentes que não estavam dando resultados daquelas que estavam sendo praticadas. </p>
        <p class="lead"><b>Comunicação:</b> Esta é a soft skill mais crucial e que permeia todas as outras. Saber comunicar ideias e se expressar bem é fundamental para qualquer profissão. 
          Seja para um gerente delegar as tarefas definidas em reunião ou para o estagiário fazer um resumo das entregas feitas, saber se comunicar de forma clara e respeitosa é fundamental. 
          </p>
        <p class="lead"><b>Visão de negócios:</b> Ter uma visão de negócios significa saber como a empresa opera. Isto também quer dizer estar alinhado com a cultura e os valores da empresa.</p>
      </div>
      
    </div>

    <div class="jumbotron" >
      <h1>Como podem influenciar em nossa carreira?</h1>
      <p class="lead">O ambiente corporativo evolui a cada instante, nesse sentido, habilidades técnicas e específicas não são os únicos elementos necessários para crescer e se manter nele. As soft skills ganham importância no tocante que a comunicação pessoal e interpessoal ganha destaque. Sendo assim, saber trabalhar com outras pessoas, perceber os seus pontos fortes e trazer soluções criativas vão garantir um espaço no trabalho.
      </p>
      <p class="lead">Elas também são habilidades transferíveis. Sendo assim, elas estão em constante evolução e são usadas independentemente do cargo em que a pessoa está trabalhando. Isso torna as pessoas mais suscetíveis a novos ambientes e capazes de se adaptar com mais facilidade.
      </p>
      <p class="lead">Além disso, são habilidades adquiridas ao longo do tempo. Ou seja, elas representam as experiências das pessoas. Empresas com pessoas com essas habilidades são mais diversificadas, pois os indivíduos possuem origens e pontos de vistas diferentes. Dessa forma, é possível que as tarefas sejam executadas de forma mais eficiente, já que as soluções serão mais criativas e competentes.
      </p>
      <p class="lead">Por isso, não é possível delimitar quais são as principais soft skills, pois todas elas compõem uma esfera importante para o desenvolvimento da pessoa. Cada uma será relevante de acordo com o trabalho proposto.
      </p>
    </div>
  </div>
</div>

