<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Voltar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="container-xl" style="padding-top:35px ;">
    <div class="jumbotron">
      <h1>VARIEDADES</h1>
      <link rel="stylesheet" href="variedades.component.css">
    </div>
</div>    
<html>
  <div class="container-xl" style="padding-top:35px ;">
      <div class="jumbotron">
      <h1>Aplicativo da Agência:</h1>
          <table>
              <tbody>
                  <tr>
                      <td><h2>Finalidade do Aplicativo:</h2><br>O aplicativo foi criado com o intuito de auxiliar usuários na busca de cursos gratuitos,
                        seja para aprimorar o currículo, ou ainda para crescimento pessoal e/ou profissional.</td>
                      <td class="esquerda"><img src="../../assets/Login app.PNG"/></td>
                  </tr>
              </tbody>
          </table>
          <table>
              <tbody>
                  <tr>
                      <td class="direita"><img src="../../assets/Tela de cursos app.PNG"/></td>
                      <td><h2>Interface:</h2><br>Após você fazer seu cadastro no aplicativo, será exibido os cursos gratuitos, ao clicar em uma das opções de curso será exibida uma breve descrição sobre.</td>
                  </tr>
              </tbody>
          </table>
          <table>
              <tbody>
                  <tr>
                      <td><h2>Descrição dos cursos</h2><br>Aqui vai uma descrição do curso de exemplo, onde você pode consultar mais informações:</td>
                      <td class="esquerda"><img src="../../assets/Descrição de curso app.PNG"/></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>      

  <div class="container-xl" style="padding-top:35px ;">
    <div class="jumbotron">
    <h1>Jogo Educativo</h1>
        <table>
            <tbody>
                <tr>
                    <td><h2>Finalidade do Jogo:</h2><br>O Jogo tem o intuito de testar a capacidade do jogador na questão de discernir se uma frase possui a capacidade de ajudar na jornada para o sucesso ou não </td>
                    
                </tr>
                <tr>
                    <td style="width: 600px;"><br><img class="jogo" src="../../assets/gameTitle1.png" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  

<div class="container-xl" style="padding-top:35px ;">
    <div class="jumbotron">
    <h1>Dashboard</h1>
        <table>
            <tbody>
                <tr>
                    <td><h3>Foi realizado uma pesquisa em torno da AV. Paulista, quais empresas atuam naquele local e com isso foi criado um dashboard para melhor visualização</h3><br>
                    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/62e89940-6c09-4a5c-be23-65f6d2054144/page/vZY6C" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  
</html>
