<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Voltar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<html>
  <head>
      <title>Variedades</title>
      <link rel="stylesheet" href="variedades.component.css">
  </head>
  <div class="container-xl" style="padding-top:35px ;">
      <div class="jumbotron">
          <h1>Variedades</h1>
      Reservado... Texto...<br>
      <h1>Aplicativo da Agência:</h1>
          <table>
              <tbody>
                  <tr>
                      <td><h2>Finalidade do Aplicativo:</h2><br>O aplicativo foi criado com o intuito de auxiliar usuários na busca de cursos gratuitos,
                        seja para aprimorar o currículo, ou ainda para crescimento pessoal e/ou profissional.</td>
                      <td class="esquerda"><img src="../../assets/Login app.PNG"/></td>
                  </tr>
              </tbody>
          </table>
          <table>
              <tbody>
                  <tr>
                      <td class="direita"><img src="../../assets/Tela de cursos app.PNG"/></td>
                      <td><h2>Interface:</h2><br>Após você fazer seu cadastro no aplicativo, será exibido os cursos gratuitos, ao clicar em uma das opções de curso será exibida uma breve descrição sobre.</td>
                  </tr>
              </tbody>
          </table>
          <table>
              <tbody>
                  <tr>
                      <td><h2>Descrição dos cursos</h2><br>Aqui vai uma descrição do curso de exemplo, onde você pode consultar mais informações:</td>
                      <td class="esquerda"><img src="../../assets/Descrição de curso app.PNG"/></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>      
</html>