<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Voltar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
<html>
    <head>
        <title>Trabalhando</title>
        <link rel="stylesheet" href="trabalhando.component.css">
    </head>
    <div class="container-xl" style="padding-top:35px ;">
        <div class="jumbotron">
            <h1>Trabalhando</h1>
            <h1>Bem-estar e Sáude no trabalho</h1>
            Reservado... Texto...<br>
            <table>
                <tbody>
                    <tr>
                        <td><h2>Profissões em alta</h2><br>Um levantamento no LinkedIn, apontando algumas profissões em alta nos últimos
                            anos, com salários variando entre 2 mil até 11 mil reais. Com base em dados, 49%
                            dos brasileiros querem trocar de emprego mesmo com a alta do desemprego e a
                            baixa da renda. O percentual cresce entre os jovens para 61% jovens na faixa etária
                            de 18 a 24 anos, querem mudar de emprego, com isso no último levantamento da
                            plataforma Networking foi apontado algumas profissões que estão crescendo nos
                            últimos anos:</td>
                    </tr>        
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td><h2>Analista de desenvolvimento de sistemas</h2><br>O Administrador de rede é responsável por cuidar da infraestrutura de tecnologia da
                            empresa ou corporação , além disso ele pode assumir um cargo de gerência do time
                            de TI. Algumas funções do analista de desenvolvimento de sistemas é (Trabalhar
                            com toda parte de Hardware, saber e definir qual rede é melhor e adequada para
                            empresa, ter controle da segurança envolvida na rede).</td>
                        <td class="esqueda"><img src="/src/assets/desenvolvimento-de-sistemas.webp"/></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td class="direita"><img src="/src/assets/cic3aancias-de-dados.webp"/></td>
                        <td><h2>Cientista de dados</h2><br>Analista de dados ou como conhecido Cientista de dados, é uma das profissões que
                            vem crescendo nos últimos anos. O cientista de dados deve ter o conhecimento de
                            linguagem de programação Python. Geralmente o cargo é ocupado por pessoas que
                            atuam ou já atuaram como engenheiro de software. As cidades que mais contratam
                            pessoas neste ramo são (São Paulo e Brasília) com um salário em média de 8 mil
                            reais.</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td><h2>Gestor(a) de tráfegos</h2><br>Conhecido também como Traffic Manager, essa profissão cresceu muito na
                            pandemia, devido a necessidade de transformação digital, este profissional é aquele
                            que analisa métricas de audiência, resumindo é um profissional que conhece todas
                            as etapas do marketing digital.</td>
                        <td class="esqueda"><img src="/src/assets/gestor-trafego-pago.jpg"/></td>
                    </tr>
                </tbody>
            </table>
        <h1>Profissões em alta no futuro:</h1>
        <br>Segundo o site “Anhanguera”, a 4a revolução industrial na qual vivemos é uma
        revolução tecnológica e assim como as outras revoluções ela causa um impacto
        nas relações trabalhistas e faz com que sumam algumas profissões antigas e
        surjam novas profissões no mercado de trabalho. Portanto é importante saber quais
        profissões têm tendência a ter maior destaque no futuro para se adaptar à mudança.
        </div>
        
    </div>
    
</html>
