<!DOCTYPE html>
<html>
    <head>
        <title>Currículo e Entrevista</title>
        <link rel="stylesheet" href="curriculo-entrevista.component.css">
    </head>

    <body>
        <h1>Currículo</h1>
        Reservado... Texto...<br>
        <h1>Como se preparar para uma entrevista?</h1>
            <table>
                <tbody>
                    <tr>
                        <td><h2>Vista-se adequadamente.</h2><br>Em qualquer entrevista, seja presencial ou on-line, vista se adequadamente; uma camisa polo e calças já são o suficiente, não é necessário terno, paletó e gravata. Cabelo cortado e barba bem feita para homens e maquiagem leve e cabelo penteado para mulheres, além de transmitirem assiduidade, também demonstram o autocuidado que você tem consigo. Vestir se adequadamente é importante, não apenas pela aparência, mas em uma entrevista remota, on-line, é possível ser necessário se levantar e você pode não estar vestido adequadamente da cintura para baixo. Isso ocorre com frequência com os candidatos e além de deixá-los embaraçados, pode eliminá-los do processo seletivo.</td>
                        <td class="esquerda"><img src="pexels-daniel-duarte-13884593.jpg"/></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td class="direita"><img src="pexels-vlada-karpovich-4050319.jpg"/></td>
                        <td><h2>Pesquise sobre a empresa.</h2><br>Após ter se candidatado, tente pesquisa sobre a empresa: sua cultura, seus valores, seu estatuto e sua missão. Cada vez mais, as organizações têm se atentado ao engajamento dos seus funcionários, pois isso reflete diretamente no desempenho deles e da empresa. Além de corresponder aos requisitos do que a vaga pede, também é essencial você concordar com a cultura e os valores da empresa. Isso é essencial para encontrar propósito no seu trabalho.</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td><h2>Leia atentamente a descrição da vaga.</h2><br>Muitos candidatos cometem o erro de não ler atentamente a descrição da vaga e são eliminados por não corresponderem aos requisitos. Além disso, estar ciente dos requisitos e benefícios oferecidos demonstra a sua vontade de trabalhar e o seu comprometimento.</td>
                        <td class="esquerda"><img src="pexels-ron-lach-9832698.jpg"/></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td class="direita"><img src="pexels-cottonbro-4101143.jpg"/></td>
                        <td><h2>Treine a sua apresentação.</h2><br>Seja em entrevistas em grupo ou individuais, é necessário fazer uma apresentação pessoal destacando suas habilidades, qualidades, fraquezas e como você lida com isso. Então, revisar seu currículo e escrever como você pode falar de si mesmo pode ser interessante. Não apenas destacar suas habilidades técnicas, mas justamente as soft skills. Revisar a sua história de vida e reconhecer o que você tem e o que a empresa quer.</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <br>
        <h3>Referências:</h3>
        SAMPAIO, Caio. 30 dicas de como se comportar em uma entrevista de emprego. Zety, 2022. Disponível em: <a href="https://zety.com/br/blog/como-se-comportar-em-uma-entrevista-de-emprego">Link</a>. Acesso em: 15 de outubro de 2022.
    </body>
</html>