<body>
    <!--<div *ngIf="user" class="d-flex justify-content-center">
        <h5 *ngIf="user" style="display:inline-block; margin-top: 10px; margin-left: 150px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: italic; color:rgb(92, 107, 106)">Logado como: {{ user?.displayName }} - {{ user?.email }}</h5>
    </div>-->
    <div class="container" *ngIf="!user">
        
            <div class="title">
                <div class="part_a">
                <h1 st>PROJETO SITE INCRIVEL</h1>
            </div>
            </div>
        
        <div class="part_b">
            <div class="pos_btn">
            <button class="btn btn-lg btn-primary btn-block" *ngIf="!user" (click)="login()">Vamos lá</button>
        </div>
        </div>
    </div>
    <div *ngIf="user">
          <main role="main" class="container">
            <header>
              <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">BoomJobs</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/qualifiquese">Qualifique-se para o mercado</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/curriculosEntrevista">Currículos e Entrevistas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/trabalhando">Trabalhando</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/variedades">Variedades</a>
                    </li>
                   
                  </ul>
                </div>
                <form class="form-inline mt-2 mt-md-0">
                  <button class="btn btn-outline-success my-2 my-sm-0" style=" background-color: #e72626;" type="submit" (click)="logout()">Sair</button>
                </form>
              </nav>
            </header>
          </main>
          <div class="container">
            <div class="jumbotron">
              <h1>Quem somos?</h1>
              <h3>Um grupo de pessoas que tem o objetivo de ajudar você a entrar no mercado de trabalho</h3>
              <p class="lead">A ideia surgiu no meio do segundo semestre de 2022 onde conversávamos sobre o mercado de trabalho e vimos que tínhamos alguns amigos que não teriam conseguido seu primeiro emprego ainda e tivemos a ideia de ajudá-los enviando links de cursos de programação, idiomas e de como montar um currículo.</p>
              <!-- <a class="btn btn-lg btn-primary" href="/" role="button">Leia sobre »</a> -->
              <h3> O que você pode esperar do nosso site?</h3>
              <p class="lead">Nosso site disponibiliza links de cursos gratuitos de programação e de idiomas, damos dicas de como montar seu currículo e de como se comportar em uma entrevista de emprego.</p>
            </div>
          </div>
    </div>
  
</body>